.searchBar .fa-solid {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;

}

#positionIcon {
    width: 50px;
    height: 49px;
    background: rgba(242, 242, 242, 1);
    border: 1px solid rgba(242, 242, 242, 1);
    border-radius: 15px 0px 0px 15px;
}

.searchBar {
    height: 49px;
    border: 1px solid rgba(242, 242, 242, 1);
    border-radius: 15px;
    gap: 24px;
    display: inline-flex;
}

.btn-icon {
    display: none;
}

#ville {
    border: none;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 100%;
    text-align: center;
    color: black;
}


.searchBtn {
    background: var(--main-color);
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    height: 49px;
    border: 1px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px 16px;
    gap: 10px;
}

.searchBtn:hover {
    cursor: pointer;
}

/* Filtres */
.filtres {
    font-size: 1.13rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.filtresBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.Btn {
    background: white;
    width: 10.81rem;
    height: 3.13rem;
    font-size: 1.1rem;
    font-weight: var(--font-title-weight);
    border: 2px solid rgb(217, 217, 217, 1);
    border-radius: 25px;
    /* padding: 4px 19px; */
    margin: 40px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}

.Btn img {
    width: 1.375rem;
    height: 1.375rem;
}

.Btn:hover {
    background: rgba(222, 235, 255, 1);
    transition: 0.2s;
    cursor: pointer;
}